<form class="form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-row>
        <ion-input readonly formControlName="name" placeholder="*First name" minlength="2"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input readonly formControlName="middleName" placeholder="Middle name"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input readonly formControlName="surname" placeholder="Last name"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input readonly formControlName="phone" type="tel" placeholder="*Phone number" maxlength="20"
                   minlength="3"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input readonly formControlName="email" type="email" placeholder="Email" minlength="3"></ion-input>
    </ion-row>
    <ion-row class="buttons-wrapper">
        <ion-button color="secondary" (click)="close">Cancel</ion-button>
        <ion-button color="primary" type="submit">Confirm</ion-button>
    </ion-row>
</form>
