<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="300" [placeholder]="'Type contact name...'"></ion-searchbar>
  <h2 style="text-align: center" *ngIf="(contacts | async)?.length===0">No contacts added yet...</h2>

  <ion-list>
    <ul>
      <li *ngFor="let c of (contacts | async)" class="list-item" [class.favorite]="c.isFavorite">
        {{c.name}} {{c.middleName}} {{c.surname}}
      </li>
    </ul>
  </ion-list>
</ion-content>
